.service {
  background-color: var(--white-text-color);
  font-family: var(--font-main);
  padding-bottom: 5.55%;
  padding-top: 92px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-softline {
  position: relative;
}

.service-softline img {
  width: 75.7%;
  position: absolute;
  top: 41px;
  left: -5%;
}
.service-descr {
  width: max(301px, min(80vw, 880px));
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  color: var(--steel-blue-color);
  padding-bottom: 76px;
}


.service-list__wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  width: 1200px;
}

.service-heading {
  padding-bottom: 43px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 202px;
}

.service-card,
.service-card .card-header {
  border: none;
}

.service .card-header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 19px 0;
}

.service .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.service-icon {
  width: max(90px, min(11.5vw, 200px));
  height: max(90px, min(11.5vw, 200px));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deepblur-blue-color);
  transition: all 0.25s ease;
}
.service-icon:hover {
  background-color: var(--goldenrod-color);
}
.service-icon img {
  width: 45%;
}
.service-title {
  width: 202px;
  font-weight: 500;
  font-size: 24px;
  line-height: max(20px, min(2.5vw, 29px));
  color: var(--deep-blue-color);
  text-align: center;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-para {
  width: max(303px, min(60vw, 995px));
  font-weight: 400;
  font-size: max(14px, min(1vw, 18px));
  line-height: max(20px, min(2vw, 30px));
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .service {
    padding-top: 72px;
  }
  .service-list__wrapper {
    width: 1000px;
  }
  .service-icon img {
    width: 42.5%;
  }
  .service-title {
    font-size: 20px;
  }
  .service-heading {
    padding-bottom: 38px;
  }
  .service-descr {
    font-size: 26px;
    padding-bottom: 60px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1283px) {
  .service-list__wrapper {
    width: 900px;
  }
  .service-title {
    font-size: 18px;
  }
  .service .card-header {
    padding-bottom: 16px;
  }
  .service-heading {
    padding-bottom: 34px;
  }
  .service-descr {
    font-size: 20px;
    padding-bottom: 48px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 1023px) {
  .service-softline {
    display: none;
  }
  .service-list {
    max-width: 100%;
  }
  .service-list__wrapper {
    width: 700px;
  }
  .service-title {
    font-size: 14px;
    min-height: 40px;
  }
  .service .card-header {
    padding-bottom: 13px;
  }
  .service-heading {
    font-size: 22px;
    padding-bottom: 18px;
  }
  .service-descr {
    font-size: 16px;
    padding-bottom: 38px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 739px) {
  .service {
    padding-top: 62px;
    padding-bottom: 26px;
  }
  .service-list__wrapper {
    width: 640px;
    padding-left: 20px;
  }
  .service-title {
    width: 65px;
  }
  .service-title.special {
    width: 130px;
  }
  .service .card-header {
    padding-bottom: 10px;
  }
  .service-heading {
    padding-bottom: 15px;
  }
  .service-descr {
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 20px;
  }
  .service-icon img {
    width: 45%;
  } 
}

@media only screen and (max-width: 395px) {
  .service-list__wrapper {
    width: 750px;
    padding-left: 40px;
  }
}
