.procedure {
  background-color: var(--white-text-color);
  padding-top: 5.3%;
}

.procedure-softline {
  position: relative;
}

.procedure-softline img {
  width: 75.2%;
  position: absolute;
  top: -100px;
  right: 0;
}

.procedure-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main);
}

.procedure-list__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: auto;
  width: 1200px;
  position: relative;
}

.procedure-heading {
  margin-bottom: 58px;
}

.procedure-desc {
  width: max(328px, min(60vw, 850px));
  margin-bottom: 25px;
}

.procedure-item {
  max-width: 262px;
  display: flex;
  align-items: baseline;
}

.procedure-card {
  border: none;
  text-align: center;
}

.procedure-img {
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.mess-img,
.we-img,
.setting-img,
.cooperate-img {
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
  height: fit-content;
  transition: all 0.25s ease;
}
.mess-img:hover path,
.we-img:hover path,
.setting-img:hover path,
.cooperate-img:hover path {
  fill: var(--goldenrod-color);
}

.procedure-next {
  display: flex;
}

.procedure-next img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 62px;
}

.procedure .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  padding: 0;
  overflow: hidden;
}
.procedure .card-title {
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.procedure .circle {
  height: max(20px, min(3vw, 36px));
  width: max(20px, min(3vw, 36px));
  border-radius: 50%;
  background-color: var(--goldenrod-color);
  font-size: max(12px, min(1.8vw, 24px));
  font-weight: 400;
  color: var(--white-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.procedure .card-text {
  font-weight: 400;
  font-size: max(14px, min(1vw, 18px));
  line-height: 30px;
  color: var(--slate-gray-color);
}
.procedure-text1 {
  padding: 0 23px;
}
.procedure-text2 {
  padding: 0 23px;
}

.btnStart {
  padding: 17px 72px;
  margin-top: 44px;
}

@media only screen and (max-width: 1440px) {
  .btnStart {
    padding: 14px 68px;
  }
  .procedure-heading {
    margin-bottom: 40px;
  }
  .procedure-list__wrapper {
    width: 1100px;
  }
  .procedure-item {
    max-width: 222px;
  }

  .mess-img {
    width: 33%;
  }
  .we-img {
    width: 55%;
  }
  .setting-img {
    width: 30%;
  }
  .cooperate-img {
    width: 40%;
  }
  .procedure-next img {
    margin-top: 42px;
  }
  .procedure-img {
    height: 100px;
  }
  .procedure-desc {
    margin-bottom: 20px;
  }
  .procedure .card-title {
    margin-bottom: 18px;
  }
  .procedure .card-text {
    line-height: 24px;
  }
}
@media only screen and (max-width: 1283px) {
  .procedure-softline img {
    top: -80px;
  }
  .procedure-heading {
    margin-bottom: 30px;
  }
  .procedure-list__wrapper {
    width: 1000px;
  }
  .procedure-img {
    height: 80px;
  }
  .procedure .card-title {
    margin-bottom: 16px;
  }
  .procedure .card-text {
    line-height: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  .btnStart {
    padding: 10px 48px;
  }
  .procedure-softline img {
    top: -60px;
  }
  .procedure-heading {
    margin-bottom: 20px;
  }
  .procedure-list {
    max-width: 100%;
  }
  .procedure-list__wrapper {
    width: 866px;
    padding-left: 20px;
  }
  .procedure-next img {
    margin-top: 32px;
  }
  .procedure .card-title {
    margin-bottom: 12px;
  }
  .procedure-text1 {
    padding: 0;
  }
}

@media only screen and (max-width: 739px) {
  .procedure {
    padding-top: 47px;
  }
  .procedure-list__wrapper {
    width: 1050px;
  }
  .procedure-img {
    height: 60px;
  }
  .procedure-heading {
    width: 251px;
  }
  .btnStart {
    padding: 9px 21px;
  }
  .procedure-softline img {
    top: 42px;
  }
}

@media only screen and (max-width: 395px) {
  .procedure-card .card-text {
    padding: 0 10px;
  }
  .procedure-list__wrapper {
    width: 900px;
  }
}
