.benefits {
  font-family: var(--font-main);
}

.benefits-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.benefits-heading {
  margin-bottom: max(13px, min(2vw, 25px));
  position: relative;
  cursor: pointer;
}

.benefits-desc {
  max-width: 1000px;
}

.benefits-middle {
  background: url(../../images/backgrounds/bg-benefits.png) no-repeat center
    center;
  object-fit: cover;
  background-size: cover;
  padding: 3.6% 0;
  margin-top: max(35px, 2.77%);
  margin-bottom: max(26px, 3.5%);
}
.benefits-list {
  overflow: auto !important;
}
.benefits-list::-webkit-scrollbar {
  display: none;
}
.benefits-list {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
.benefits-list__wrapper {
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-wrap: nowrap;
  width: 1200px;
  margin: auto;
}

.benefits-card {
  border-radius: 6px;
  text-align: center;
  background-color: var(--lightblur-blue-color);
  border: none;
  width: 278px;
}

.benefits-img {
  display: flex;
  width: 100%;
  height: 170px;
}

.benefits-img img {
  width: 33%;
  margin: auto;
  height: 107px;
}

.benefits-card .card-body {
  padding: 0;
  height: 197px;
  overflow: hidden;
}

.benefits-card .card-title {
  font-size: max(18px, min(2vw, 24px));
  font-weight: 500;
  color: var(--deep-blue-color);
  margin-bottom: 19px;
  line-height: 29px;
}
.benefits-card .card-text {
  font-size: max(11px, min(1.75vw, 18px));
  font-weight: 300;
  line-height: max(16px, min(3vw, 28px));
  color: var(--slate-gray-color);
}

.para1 {
  padding-left: 25px;
  padding-right: 26px;
}

.para2 {
  padding-left: 19px;
  padding-right: 20px;
}

.para3 {
  padding-left: 26px;
  padding-right: 27px;
}

.para4 {
  padding-left: 19px;
  padding-right: 19px;
}

.benefits-bottom {
  display: flex;
  justify-content: center;
}
.btnAbout {
  display: inline-block;
  padding: 17px 25px 17px 31px;
}
.btnAbout:hover {
  color: var(--white-text-color);
}

@media only screen and (max-width: 1440px) {
  .btnAbout {
    padding: 15px 20px 15px 26px;
  }
  .benefits-list__wrapper {
    width: 1100px;
  }
  .benefits-card {
    width: 258px;
  }
  .benefits-img {
    height: 150px;
  }
  .benefits-img img {
    height: 87px;
  }
  .benefits-card .card-body {
    height: 207px;
  }
}

@media only screen and (max-width: 1283px) {
  .benefits-list__wrapper {

    width: 1000px;
  }
  .benefits-card {
    width: 238px;
  }
  .benefits-img {
    height: 120px;
  }
  .benefits-img img {
    height: 67px;
  }
  .benefits-card .card-body {
    height: 227px;
  }
  .benefits-card .card-title {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1023px) {
  .benefits-list {
    max-width: 100%;
  }
  .benefits-list__wrapper {
    width: 1006px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .benefits-card {
    width: 230px;
  }
  .benefits-img {
    height: 110px;
  }
  .benefits-img img {
    height: 67px;
  }

  .benefits-card .card-title {
    margin-bottom: 10px;
    line-height: 26px;
  }
  .btnAbout {
    padding: 12px 18px 12px 24px;
  }
  .benefits-card .card-body {
    height: 178px;
  }
}

@media only screen and (max-width: 739px) {
  .benefits-list__wrapper {
    width: 800px;
  }
  .benefits-card {
    width: 179px;
  }
  .benefits-img {
    height: 108px;
  }
  .benefits-desc {
    padding: 0 23px;
  }
  .benefits-img img {
    height: 60px;
  }
  .benefits-card .card-body {
    height: 113px;
  }
  .para1 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .para2,
  .para3 {
    padding-left: 14px;
    padding-right: 13px;
  }
  .para4 {
    padding-left: 10px;
    padding-right: 11px;
  }
  .benefits-middle {
    margin-bottom: 26px;
  }
  .benefits-card .card-title {
    margin-bottom: 7px;
    line-height: 22px;
  }
  .btnAbout {
    padding: 7px 14px 7px 16px;
  }
}

@media only screen and (max-width: 395px) {
  .benefits-list__wrapper {
    width: 880px;
  }
}