.topsell {
  padding-top: 6.52%;
  padding-bottom: 5.48%;
}

.topsell-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
}

.topsell-list {
  width: 100%;
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(4, 278px);
  column-gap: 30px;
  place-content: center;
}
.topsell-card {
  border: none;
  display: flex;
  align-items: baseline;
  max-width: 278px;
}

.topsell-card .card-header {
  width: 100%;
  border-radius: 12px;
  background-color: rgba(21, 74, 129, 0.15);
  padding: 0;
  max-height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topsell-card .card-header img {
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: scale-down;
}

.topsell-card .card-body {
  width: 100%;
  color: var(--deep-blue-color);
  padding: 0;
  padding-top: 5.7%;
  padding-bottom: 4.4%;
}

.topsell-card .card-title {
  font-weight: 600;
  font-size: max(14px, min(4vw, 16px));
  line-height: max(12px, min(2vw, 19.2px));
}

.topsell-card .card-text {
  font-weight: 400;
  font-size: max(12px, min(1.5vw, 14px));
}

.topsell-card .card-footer {
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.topsell-newprice {
  font-weight: 600;
  font-size: max(18px, min(2vw, 24px));
  line-height: max(21.6px, min(2vw, 28.8px));
  color: var(--deep-blue-color);
}

.topsell-oldprice {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--slate-gray-color);
  text-decoration: line-through;
}

.btnBuy {
  background-color: var(--goldenrod-color);
  padding: 10px 18px 11px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
}
.btnBuy img {
  width: 100%;
  height: auto;
}

.btnBuy:hover {
  background-color: var(--goldenrod-color);
  opacity: 0.9;
}

.btnStore {
  margin-top: 58px;
  padding: 17px 55px;
}

@media only screen and (max-width: 1440px) {
  .btnStore {
    padding: 14px 50px;
  }
  .topsell-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .topsell-card .card-header {
    padding: 18px;
  }
}

@media only screen and (max-width: 1023px) {
  .topsell {
    padding-top: 31px;
    padding-bottom: 24px;
  }
  .topsell-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 23px;
    margin-top: 30px;
  }
  .topsell-card .card-header img {
    width: 80%;
  }
  .topsell-card {
    max-width: 100%;
  }
  .btnStore {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 739px) {
  .btnStore {
    padding: 9px 16px;
    margin-top: 24px;
  }
  .btnBuy {
    padding: 0px 7px;
    max-height: 34px;
  }
  .btnBuy img {
    width: 68.5%;
  }
}

@media only screen and (max-width: 395px) {
  .topsell-list {
    grid-template-columns: repeat(2, 156px);
    column-gap: 16px;
    row-gap: 23px;
    margin-top: 9px;
  }
}
