.yourproject {
  padding-top: 5.8%;
}

.yourproject-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  text-align: center;
}
.yourproject-heading {
  line-height: 38px;
  margin-bottom: 19px;
}

.yourproject-desc {
  width: max(328px, min(60vw, 995px));
  line-height: 30px;
  margin-bottom: 56px;
}

.yourproject-design {
  width: 100%;
  flex-shrink: 0;
}
.yourproject-design img {
  max-width: 100%;
  height: auto;
}
.btnWish {
  margin-top: 55.5px;
  padding: 17px 27px 17px 25px;
}

@media only screen and (max-width: 1440px) {
  .yourproject-desc {
    margin-bottom: 40px;
  }
  .btnWish {
    margin-top: 39px;
  }
  .btnWish {
    padding: 14px 24px 14px 22px;
  }
}

@media only screen and (max-width: 1023px) {
  .yourproject-desc {
    margin-bottom: 35px;
  }
  .btnWish {
    margin-top: 34px;
    padding: 10px 20px 10px 18px;
  }
}

@media only screen and (max-width: 739px) {
  .yourproject {
    padding-top: 26px;
  }
  .yourproject-heading {
    width: 221px;
  }
  .yourproject-desc {
    margin-bottom: 10px;
  }
  .btnWish {
    margin-top: 55.5px;
    padding: 8px 14px;
    line-height: 18px;
  }
}
