.contact {
  font-family: var(--font-main);
}

.contact-softline {
  position: relative;
}

.contact-softline img {
  width: 77.2%;
  position: absolute;
  top: -150px;
  right: 0;
}

.contact-wrapper {
  width: 1180px;
}

.contact-map {
  text-align: center;
}

.contact-img {
  width: 80%;
}

.contact-img img {
  width: 100%;
  height: auto;
}

.contact-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--deep-blue-color);
  text-transform: uppercase;
}

.contact-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--slate-gray-color);
  margin-bottom: 8.7%;
}

.contact-form {
  padding: 2rem 2rem 3.875rem;
  background-color: rgba(223, 233, 244, 0.6);
  border-radius: 9px;
}
.contact-form .form-control {
  border: none;
  padding: 1rem 1.7rem;
}
.contact-form .form-control:focus {
  box-shadow: none;
}

.contact .form-floating > label {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--slate-gray-color);
  padding: 1rem 1.7rem;
  border: none;
}

.contact .form-floating > label span {
  color: #f02929;
}

.form-footer {
  display: flex;
}

.btnSend {
  font-weight: 500;
  color: var(--white-text-color);
  font-size: max(16px, min(1.5vw, 24px));
  line-height: 29px;
  background-color: var(--goldenrod-color);
  margin-left: auto;
  padding: 12.3px 30px;
  border-radius: 28px;
  letter-spacing: 0.6px;
}

.btnSend:hover {
  background-color: var(--goldenrod-color);
  color: var(--white-text-color);
}

@media only screen and (max-width: 1023px) {
  .contact-map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-img {
    width: 70%;
  }
  .contact-title {
    font-size: 22px;
    line-height: 27px;
  }
  .contact-subtitle {
    font-size: 17px;
    line-height: 28px;
  }

  .btnSend {
    line-height: 16px;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  .contact .form-floating > label {
    padding: 1rem 1rem;
  }
  .contact-form .form-control {
    padding: 1rem 1rem;
  }
  .contact .form-floating > label {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 739px) {
  .contact-form {
    padding: 24px 12px 27px;
  }
  .contact-form .form-floating {
    margin-bottom: 16px !important;
  }
  .contact .form-floating > label {
    font-size: 14px;
    line-height: 20px;
  }
  .form-floating .form-control {
    height: 48px;
    min-height: 48px;
  }
  .contact .form-floating > label {
    padding: 0.8rem 1rem;
  }
  .form-note {
    height: 66px;
    min-height: 66px;
    margin-bottom: 24px !important;
  }
  .btnSend {
    padding: 9px 17.4px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 395px) {
}
