.benefits{
  font-family: var(--font-main);
}

.benefits-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.benefits-heading {
  margin-bottom: max(13px, min(2vw, 25px));
  position: relative;
  cursor: pointer;
}

.benefits-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 4px;
  background-color: transparent;
  transition:  0.25s all ease-in-out;
}

.benefits-heading:hover::after {
  width: 50%;
  background-color: var(--goldenrod-color);
}

.benefits-desc {
  width: max(303px, min(60vw, 1000px));
}

.benefits-list {
  background: url(../../images/backgrounds/bg-benefits.png) no-repeat center center;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  padding: 3.6% 0;
  margin-top: max(35px, 2.77%);
  margin-bottom: 3.5%;
}
.benefits .swiper {
  height: 100%;
}

.benefits .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-card {
  width: max(179px, min(30vw, 278px));
  height: max(220px, min(36vw ,367px));
  border-radius: 6px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  text-align: center;
  background-color: var(--lightblur-blue-color);
}

.benefits-img {
  display: flex;
  width: 100%;
}

.benefits-img img{
  width: 33%;
  margin: auto;
}

.benefits-card .card-title {
  font-size: max(18px, min(2vw, 24px));
  font-weight: 500;
  color: var(--deep-blue-color);
  margin-bottom: min(1.5vw, 20px);
}
.benefits-card .card-text {
  width: max(152px, min(24vw, 227px));
  font-size: max(11px, min(2vw, 18px));
  font-weight: 300;
  line-height: max(16px, min(3vw, 28px));
  color: var(--slate-gray-color);
}

.benefits-pagination {
  display: none;
}

.benefits-bottom {
  display: flex;
  justify-content: center;
}
.btnAbout {
  display: inline-block;
  padding: max(4px, min(2.6vw, 25.5px)) max(18px, min(5.5vw, 3%));
}


@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 739px) {
  .benefits-list {
    margin-bottom: 26px;
  }
}
