.general-btn {
  color: var(--white-text-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--goldenrod-color);
}
.general-heading {
  font-weight: 600;
  font-size: max(22px, min(1.8vw, 32px));
  line-height: 38px;
  color: var(--deep-blue-color);
  text-transform: uppercase;
  text-align: center;
}
.general-desc {
  font-weight: 400;
  font-size: max(14px, min(1.2vw, 18px));
  line-height: 30px;
  text-align: center;
  color: var(--deep-blue-color);
}
.overfow-auto {
  overflow: auto !important;
}
.hidden-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}



@media only screen and (max-width: 1440px) {

  .general-btn {
    font-size: 24px;
    line-height: 30px;
  }
  .general-desc {
    line-height: 26px;
  }
}
@media only screen and (max-width: 1023px) {
  .general-heading {
    line-height: 30px;
  }
  .general-btn {
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
  }
  .general-desc {
    line-height: 21px;
  }
}