.btn-general {
  color: var(--white-text-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--goldenrod-color);
}

.heading {
  font-weight: 600;
  font-size: max(22px, min(1.8vw, 32px));
  line-height: 38px;
  color: var(--deep-blue-color);
  text-transform: uppercase;
  text-align: center;
}

.desc {
  font-weight: 400;
  font-size: max(14px, min(1.2vw, 18px));
  line-height: 30px;
  text-align: center;
  color: var(--deep-blue-color);
}

@media only screen and (max-width: 1440px) {
  .btn-general {
    font-size: 24px;
    line-height: 30px;
  }
  .desc {
    line-height: 26px;
  }
}
@media only screen and (max-width: 1023px) {
  .btn-general {
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
  }
  .desc {
    line-height: 22px;
  }
}