.header {
  font-family: var(--font-main);
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--white-text-color);
  z-index: 200;
}

.header-extra {
  background-color: var(--goldenrod-color);
  z-index: 1100;
}

.header-main .header-main__wrapper {
  display: flex;
  column-gap: 65px;
  align-items: center;
  height: 100px;
  width: 100%;
  transition: all 0.25s ease;
  max-width: 1200px;
  margin: auto;
}

.header-extra .header-extra__wrapper {
  display: flex;
  justify-content: end;
  height: 42px;
  max-width: 1200px;
  margin: auto;
}

.header-extra__left {
  display: flex;
  margin-right: auto;
  column-gap: 26px;
}
.header-extra__info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-extra__info span {
  font-size: 14px;
  text-wrap: nowrap;
  color: var(--white-text-color);
}

.header-main .header-nav,  .header-extra .header-nav{
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 21px;
}
.header-group {
  display: flex;
  align-items: center;
}
.header-cart {
  margin-left: 20px;
  display: none;
}
.header-cart.active {
  display: block;
}

.header-link,
.header-extra__right {
  font-size: 15px;
}

.header-link {
  display: block;
  text-transform: uppercase;
  color: var(--white-text-color);
  font-weight: 500;
  text-wrap: nowrap;
}

.header-extra .header-link.active {
  color: var(--deep-blue-color);
}

.header-extra__right {
  display: flex;
  align-items: center;
  padding-left: 31px;
}

.header-extra__right .dropdown-menu {
  border-radius: 0px;
  top: 11.9px !important;
}
.header-extra__right .dropdown-item {
  padding: 0;
}

.header-extra__right .dropdown-item a {
  display: block;
  font-size: 15px;
  color: var(--deep-blue-color);
  padding: 12.5px 20.5px;
  font-weight: 500;
}

.header-main {
  background-color: transparent;
  transition: all 0.25s ease;
}

.header.scroll .header-main {
  background-color: var(--deep-blue-color);
}

.header.scroll .header-main__wrapper {
  height: 60px;
}

.header-logo {
  display: flex;
}

.header-logo img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 0;
  transition: all 0.25s ease-in-out;
}

.header.scroll .header-logo img {
  width: 70%;
}

.header-main .header-link {
  font-size: 18px;
  margin: 20px 0;
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease;
}
.header-main .header-nav__item:hover .header-link {
  color: var(--goldenrod-color);
  position: relative;
}
.header-main .header-nav__item:hover .header-link::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--goldenrod-color);
}

.header-main .header-nav {
  column-gap: 32px;
}
.header-main .header-nav__item {
  position: relative;
}
.header-menu {
  display: none;
  position: absolute;
  left: -58px;
  top: 60px;
  padding: 0;
  background-color: var(--white-text-color);
  width: max-content;
}
.header-menu__item, .header-submenu__item {
  border-bottom: 1px solid var(--light-gray-color);
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 9.5px 6px 9.5px 20.5px;
  color: var(--deep-blue-color);
  font-weight: 500;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}

.header-menu__item:hover, .header-submenu__item:hover {
  background-color: var(--light-steel-blue);
  color: var(--deep-blue-color);
  opacity: 1;
  position: relative;
}
.header-menu__item.not-submenu {
  padding-right: 13px;
}

.header-menu__item img {
  padding-left: 20px;
}
.header-nav__item:hover .header-menu {
  display: block;
  background-color: var(--white-text-color);
  border-radius: 0px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}
.header-menu__component {
  position: relative;
}
.header-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3); 
  background-color: var(--white-text-color);
  width: max-content;
}
.header-menu__component:hover .header-submenu {
  display: block;
}
.header-submenu__item {
  padding-right: 21px;
}


/* Offcanvas top */
.offcanvas {
  border: none !important;
  font-family: var(--font-main);
}

.offcanvas.offcanvas-top,
.offcanvas-backdrop {
  top: 42px;
}

.offcanvas-top__container .offcanvas-backdrop.show, .offcanvas-top__container .offcanvas-backdrop.fade{
  background-color: rgba(26, 54, 93, 0.8);
}

.header-offcanvas__top {
  background-color: transparent;
  height: fit-content !important;
}
.header-offcanvas__top .offcanvas-body {
  overflow: visible;
}

.btnClose,
.btnMenu {
  display: none;
}

.header-offcanvas__top .offcanvas-body {
  padding: 0;
  border: none;
  border-width: 0px !important;
}

/* Offcanvas right */
.header-offcanvas__right {
  background-color: var(--white-text-color);
  display: none;
  overflow: auto;
}
.header-offcanvas__right::-webkit-scrollbar {
  display: none;
}
.header-offcanvas__right {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.offcanvas-right__container {
  display: none;
}
.offcanvas-right__container .offcanvas-backdrop.show {
  border: none;
}

.offcanvas-right__container .offcanvas-body {
  padding: 0;
  overflow: auto;
}

.header-offcanvas__right .offcanvas-header {
  background-color: var(--deep-blue-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-main__language {
  color: var(--white-text-color);
}

.header-main__language .breadcrumb {
  margin: 0;
}
.breadcrumb-item a {
  font-weight: 600;
  color: var(--slate-gray-color);
  font-size: 16px;
  line-height: 19px;
}

.breadcrumb-item.active a {
  color: var(--white-text-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white-text-color);
}

/* accordion */
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-item {
  border: none;
}
.accordion-header {
  border-bottom: 0.5px solid var(--light-gray-color);
}
.accordion-body {
  padding: 0;
}

.accordionSecond .accordion-button,
.accordionThird .accordion-button,
.accordionMain > .accordion-item .a-c1 {
  padding-left: 34px;
  text-transform: none;
  color: var(--slate-gray-color);
  font-weight: 500;
}

.accordionSecond .accordion-body,
.accordionThird .accordion-body {
  padding-left: 34px;
  border-bottom: 1px solid var(--light-gray-color);
}

.accordionMain a,
.accordionMain button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--deep-blue-color);
  line-height: 19px;
  padding: 16px 20px 15px 17px;
  border: none;
}

.accordionMain > .accordion-item .accordion-button::after {
  background-image: url(../../images/icons/arrow_down.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -25%);
}

.accordionMain > .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../../images/icons/arrow_top.svg);
}

.accordionMain > .accordion-item a {
  color: var(--deep-blue-color);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

.accordionMain > .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--white-text-color);
  color: var(--goldenrod-color);
}
.accordionSecond > .accordion-item .accordion-button:not(.collapsed),
.accordionThird > .accordion-item .accordion-button:not(.collapsed) {
  background-color: var(--white-text-color);
  color: var(--slate-gray-color);
}

.accordionSecond > .accordion-item a,
.accordionThird > .accordion-item a {
  color: #808080;
  font-weight: 400;
  text-transform: none;
  padding-left: 0;
}
.accordionSecond > .accordion-item a span,
.accordionThird > .accordion-item a span {
  margin-right: 8px;
}
/* Search bar */
.header-search {
  background-color: var(--white-text-color);
  padding-top: 24px;
  padding-bottom: 26px;
}

.header-search .header-search__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 26px;
  padding-top: 24px;
  max-width: 1200px;
  height: 60px;
}

.header-search__input {
  width: 615px;
  background-color: rgba(217, 217, 217, 0.55);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 27px;
  position: relative;
}

.header-search .input-group > .form-control {
  border: none;
  background-color: transparent;
  padding: 15.5px 0;
  line-height: 19px;
}

.header-search .form-control:focus {
  box-shadow: none;
  outline: none;
}

.header-search .form-control::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--slate-gray-color);
}

.btnSearchTop {
  display: flex;
}
.btnSearchTop:active {
  border: none;
  outline: none;
}

.btnSearchTop img {
  width: 100%;
  height: auto;
  margin: auto;
}

.header-keyword {
  position: absolute;
  width: 857px;
  background-color: var(--white-text-color);
  top: 157%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0px 32px 37px;
}

.header-keyword__title,
.header-keyword__list a {
  font-size: 20px;
  line-height: 24px;
  color: var(--deep-blue-color);
  font-weight: 500;
}

.header-keyword__list {
  display: flex;
  column-gap: 12px;
}

.header-keyword__title {
  padding-left: 14px;
}

.header-keyword__list a {
  color: var(--slate-gray-color);
  padding: 12.5px 29px 12.5px 38px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
}

/* Responsive */
@media only screen and (max-width: 1440px) {
  .header-link,
  .header-extra__right {
    font-size: 14px;
  }

  .header-main .header-main__wrapper {
    column-gap: 45px;
  }
  .header-main .header-nav {
    column-gap: 22px;
  }
  .header-main .header-link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .header-offcanvas__right {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1023px) {
  .header-main {
    background-color: var(--deep-blue-color);
  }
  .header-logo img {
    width: 80%;
  }
  .header-extra {
    display: none;
  }
  .header-main .header-main__wrapper {
    justify-content: space-between;
    height: 60px;
  }
  .header-main .header-nav {
    display: none;
  }
  .offcanvas-top__container, .header-group {
    order: -1;
  }
  .header-group__product {
    order: 1;
  }
  .header-logo__product {
    order: 1;
  }
  .btnMenu-product {
    margin-right: 51px;
  }
  .btnSearch img {
    width: 28px;
  }
  .header-cart img {
    width: 35px;
  }
  .btnMenu img {
    width: 32px;
  }
  .header-search {
    padding: 0;
  }
  .header-logo img {
    margin-left: auto;
  }
  .offcanvas.offcanvas-top,
  .offcanvas-backdrop {
    top: 0;
  }
  .header-search {
    height: 60px;
    background-color: #d9d9d9;
  }
  .header-search .header-search__wrapper {
    padding: 0;
  }

  .header-keyword {
    display: none;
  }
  .header-search__input {
    width: 100%;
    background-color: transparent;
  }
  .btnSearchTop {
    display: none;
  }
  .btnClose,
  .btnMenu {
    display: block;
  }

  .header-offcanvas__right,
  .offcanvas-right__container {
    display: block;
  }
}

@media only screen and (max-width: 739px) {
  .header-offcanvas__right {
    width: 100% !important;
  }
  .header-main .header-main__wrapper,
  .header.scroll .header-main__wrapper,
  .header-search .header-search__wrapper,
  .header-search {
    height: 52px;
  }
  .header-offcanvas__right .offcanvas-header {
    height: 52px;
  }
  .header-logo img,
  .header.scroll .header-logo img {
    width: 55%;
  }
  .header-search .input-group > .form-control {
    padding-top: 11px;
    padding-bottom: 12px;
  }
  .header-search__input {
    padding: 0;
  }
  .header-search .header-search__wrapper {
    padding: 0 5px;
  }
  .btnSearch img {
    width: 17px;
  }
  .header-cart img {
    width: 23px;
  }
  .btnMenu img {
    width: 24px;
  }
  .btnMenu-product {
    margin-right: 36px;
  }
  .header-main .header-main__wrapper {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 395px) {
  .header-main .header-main__wrapper,
  .header.scroll .header-main__wrapper,
  .header-search .header-search__wrapper,
  .header-search {
    height: 42px;
  }
  .header-offcanvas__right .offcanvas-header {
    height: 42px;
  }
  .header-logo img,
  .header.scroll .header-logo img {
    width: 45%;
  }
  .header-logo__product.header-logo img,
  .header.scroll .header-logo__product.header-logo img {
    width: 71%;
  }
}
